html, body {
    margin: 0;
    padding: 0;
}

body, button {
    font-family: 'Zilla Slab', serif;
}

#appHeader {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    background-color: #e3f2fd; /* For browsers that do not support gradients */
    /* background-image: linear-gradient(-90deg, #000066, #006666); */
}

#appLogo {
    padding: 0 14px;
}

#appHeader div {
    float: left;
}

/* Style the tab */
#appNav {
    overflow: hidden;
}
  
/* Style the buttons inside the tab */
#appNav button {
    background-color: inherit;
    height: 50px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

/* Change background color of buttons on hover */
#appNav button:hover {
    /* background-color: #ddd; */
    font-weight: 600;
}

/* Create an active/current tablink class */
#appNav button.active {
    /* background-color: #ccc; */
    font-weight: 600;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 14px;
}

.custom-btn {
    border: 2px solid #000;
    background-color: #fff;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
}

.custom-btn:hover {
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.modal-close-btn {
    float:right;
    padding: 3px 6px;
    position: absolute;
    top: 12px;
    right: 14px;
    border: 2px solid #000;
    background-color: #fff;
    font-size: 12px;
    font-weight: 600;
    outline: none;
}

.modal-close-btn:hover {
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

#gameSettings {
    display: none;
}

.modal-container {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modal {
    background-color: #fff;
    width: 80%;
    margin: 50px auto;
    font-size: 16px;
}

.modal-header {
    position: relative;
    background-color: #e3f2fd;
    padding: 0px 14px;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
}

.modal-title {
    float: left;
}

.modal-body {
    height: 600px;
    overflow: auto;
    padding: 14px 14px;
}

.form-label {
    display: inline-block;
    font-weight: 600;
    padding: 5px 0px;
}

.required-field {
    color: red;
    font-size: 9px;
}

.form-input {
    border: 2px solid #000;
    padding: 5px;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

.modal-footer {
    height: 50px;
}

#teams {
    width: 100%;
}

#teamA, #teamB {
    width: 50%;
    float: left;
}